html 
    head
        title= title 
        link(rel="stylesheet", href="/stylesheets/styles.css") 
    body 
        #h  
            a(href=routes.home) Home 
            a(href=routes.about) About  
            a(href=routes.articles) Articles  
            a(href=routes.comments) Comments 
        #h_sub 
            block hsub_content 
        #s 
            block content
        #a (aside area.)
        #f Footer


